<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/style/style.css" rel="stylesheet" />
    <link href="~/style/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/style/main.css" rel="stylesheet" />
</head>
<body class="bg">

    <div>
        @RenderBody()
    </div>

    </body>
</html>
