
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/LoginPage.cshtml";
}


<link href="~/style/main.css" rel="stylesheet" />

<section class="container-fluid bg">
    <div class="row justify-content-center">



        <div class=" text-center mt-5">


            <form action="Login" method="post" class="form-container ">
                <h3>Logue-se</h3>


                <div class="form-group mt-3">
                    <label for="exampleDropdownFormEmail1">Usuário</label>
                    <input type="text" name="nome" class="form-control" placeholder="Login" required />
                </div>
                <div class="form-group">
                    <label for="exampleDropdownFormPassword1">Senha</label>
                    <input type="password" name="password" placeholder="Senha" class="form-control" required />
                </div>
                <div class="login-remember justify-content-center d-grid">

                    <button class="btn btn-primary "> Login</button>
                </div>
                <form action="SignUp" method="post">
                    <p class="signup">Não tem uma conta? <a href="#signup.html" class="signuplink">@Html.ActionLink("Cadastre-se", "SignUp", "Login")</a></p>
                </form>


            </form>





        </div>
    </div>

</section>













