<p class="mt-5"></p>
@{
    ViewBag.Title = "Contate-me";
}
<h2>@ViewBag.Title.</h2>


<address>
    Arthur Bruno<br />
    <abbr title="Phone">Telefone:</abbr>
    (85)9.85670568
</address>

<address>
    <strong>Email:</strong> brunotomo@gmail.com <br />
    <strong>GitHub:</strong> <a href="https://github.com/brunotomo">https://github.com/brunotomo</a><br />
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/bruno-borges-40a931151/">https://www.linkedin.com/in/bruno-borges-40a931151/</a>
</address>