@model IEnumerable<Login.Models.Department>

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="text-primary">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    
    <td class="text-primary h4 text-uppercase text-left text-nowrap font-weight-bold ">

        


        
        @Html.DisplayFor(modelItem => item.Name)

    </td>

    <td>

        <div class=" col-md-2">
            @using (Html.BeginForm("Edit", "Departments", new { id = item.Id }))
            {
                <input class="btn btn-primary" type="submit" name="edit" value="Edit" />
            }
        </div>
        @using (Html.BeginForm("Delete", "Departments", new { id = item.Id }))
        {
            <div class="col-md-1 ">

                <a href=""  class="btn btn-danger btnDelete" data-toggle="modal" data-target="#exampleModalCenter" data-value="@item.Id">Delete</a>
            </div>
        }


    </td>
</tr>


    }



</table>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                
            </div>
            <div id="conteudoModal">

            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">



        $(document).ready(function () {

            $(".btnDelete").click(function () {


                var id = $(this).data("value")

                $("#conteudoModal").load("/Departments/Delete/" + id,

                    function () {
                        $('#myModal').modal("show")
                        console.log(id);
                    }

                )


            });

        });

    </script>
}