@model Login.Models.Debt



<h3 class="text-center">Você tem certeza que deseja deletar este item?</h3>
<div class=" center-block">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
        <div class="col text-center mb-4 mt-4">
            <button type="submit" class="btn mx-auto btn-danger">Deletar</button>
        </div>


    }
</div>
