
@model Login.Models.Debt

<h3>Tem certeza que seja apagar este dado?</h3>



<div>

    <dl class="dl-horizontal">


        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default p-4" />

        </div>
    }

</div>
